<a href="https://colab.research.google.com/github/carlosfmorenog/test/blob/main/cw.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/carlosfmorenog/test

Cloning into 'test'...
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 18 (delta 1), reused 9 (delta 0), pack-reused 0
Unpacking objects: 100% (18/18), done.

In [ ]:
x=3

In [ ]:
import pandas as pd
data = pd.read_csv('/content/test/data.csv')
data

       Col 1  Col 2  Col 3
0       Nick     21   1.85
1      Chris     29   1.79
2        Tim     28   1.75
3        Ron     34   1.81
4     Monica     35   1.69
5  Cassandra     21   1.66